body{ 
    background-image: 
      linear-gradient( 115deg, rgba(58, 58, 158, 0.8), rgba(136, 136, 206, 0.7) ), url("https://cdn.freecodecamp.org/testable-projects-fcc/images/survey-form-background.jpeg");    
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
    background-attachment: fixed;
    
  }
  
  h1 {
    color: #F3F3F3;
    font-size: calc(10px + 1.8rem);   
    font-family: 'Poppins', sans-serif;
    text-align: center;
    padding-top: 10vh;
  } 
  
  button {
    width: 100%; 
    background-color: #37AF65;
    color: #F3F3F3;
    font-size: 16px;
    font-family: 'Poppins', sans-serif; 
    border: 1px solid #1B1B32CC;
    border-radius: 3px;
    padding: 10px 0px;
    margin-bottom: 40px;
  }

  button:hover{
    cursor: pointer;
  }

  #thank_you {
    color: #F3F3F3;
    font-size: calc(10px + 1rem);  
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-style: italic;
    font-weight: 200;
  }
  
  #form {
    width: 45%;
    background-color: #1B1B32CC;
    margin: auto;
    border-radius: 5px;
  }   
  
  #text {
    box-sizing: border-box;
    width: 100%; 
    color: #F3F3F3;
    position: relative;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;  
    margin-bottom: 30px;
    padding-top: 10px;
    padding-bottom: 60px; 
  }

  .all { 
    margin: auto;
    max-width: 86%;
    min-width: 86%;
  }
  
  .name_label {
    color: #F3F3F3;
    font-size: calc(10px + 1rem);  
    font-family: 'Poppins', sans-serif;
    display: block;
    padding: 40px 0px 10px 0px;
  }
  
  .boxes {
    box-sizing: border-box;
    width: 100%;
    border-radius: 7px;
    padding: 10px 10px;
    display: block;
    margin: auto;
    font-size: calc(10px + 1rem);  
  }
  
  .mini_text {
    color: #F3F3F3;
    font-size: calc(10px + 0.8rem);  
    font-family: 'Poppins', sans-serif; 
  }
  
  .dropdown {
    color: #495057;
    box-sizing: border-box;
    width: 100%;
    border-radius: 7px;
    padding: 10px;
    display: block;
    margin: auto;
    font-size: calc(10px + 1rem);  
  }
  
  .checkbox {
    color: #F3F3F3;
    font-size: calc(10px + 1rem);  
    font-family: 'Poppins', sans-serif; 
    line-height: 25px;
    margin-left: 5px;
  }
  
  [type="checkbox"] { 
    width: 15px; 
    height: 15px; 
  }
   

  [type="radio"] {
    width: 15px;
    height: 15px; 
  }
  
  

  @media (max-width: 1200px) {
      #form {
          width: 80%; 
      }
    }
