body{
    /*background-color:blue;*/
    background-image: 
      linear-gradient( 115deg, rgba(58, 58, 158, 0.8), rgba(136, 136, 206, 0.7) ), url("https://cdn.freecodecamp.org/testable-projects-fcc/images/survey-form-background.jpeg");
    
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
    background-attachment: fixed;
    
  }
  
  h1 {
    color: #F3F3F3;
    font-size: 32px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    padding-top: 40px;
  }
  
  #thank_you {
    color: #F3F3F3;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-style: italic;
    font-weight: 200;
  }
  
  #form {
    width:45%;
    background-color: #1B1B32CC;
    margin: auto;
    border-radius: 5px;
  }  
  
  .all {
    /*background-color: red;*/
    margin: auto;
    max-width: 86%;
    min-width: 86%;
  }
  
  .name_label {
    color: #F3F3F3;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    display: block;
    padding: 40px 0px 10px 0px;
  }
  
  .boxes {
    box-sizing: border-box;
    width: 100%;
    border-radius: 7px;
    padding: 10px 10px;
    display: block;
    margin: auto;
    font-size: 18px;
  }
  
  .mini_text {
    color: #F3F3F3;
    font-size: 15px;
    font-family: 'Poppins', sans-serif; 
  }
  
  .dropdown {
    color: #495057;
    box-sizing: border-box;
    width: 100%;
    border-radius: 7px;
    padding: 10px;
    display: block;
    margin: auto;
    font-size: 18px;
  }
  
  .checkbox {
    color: #F3F3F3;
    font-size: 18px;
    font-family: 'Poppins', sans-serif; 
    line-height: 25px;
    margin-left: 5px;
  }
  
  [type="checkbox"] {
    /*opacity: 0; */
    width: 15px; 
    height: 15px; 
  }
  
  /*
    Custom Checkbox Pure CSS Tutorial
    https://www.youtube.com/watch?v=NfW_5Y1RZQ4

  [type="checkbox"] + label{
    position: relative;
    cursor: pointer;
    display: inline-block;
    /*margin-left: 20px; --não usado
  }

  [type="checkbox"] + label::before {
    content:""; 
    position: absolute;
    left: -20px;
    top: 0px;
    width: 20px;
    height: 20px;
    outline: 2px solid  #aaa;
    background: #fff;
  }

  [type="checkbox"]:checked + label::before {
    content:""; 
    position: absolute;
    left: -20px;
    top: 0px;
    width: 20px;
    height: 20px;
    outline: 2px solid  rgb(113, 117, 115);
    background: #fff;
}

[type="checkbox"]:checked + label::after {
    content:""; 
    position: absolute;
    left: -20px;
    top: 0px;
    width: 20px;
    height: 20px; 
    background-image: url(checkmark2.png);
    background-size: cover; 
    background-position: center; 
    transform: scale(1);
    opacity: 1;
    transition: all .3s ease;
}



[type="checkbox"]:not(:checked) + label::after {
    content:""; 
    position: absolute;
    left: -20px;
    top: 0px;
    width: 20px;
    height: 20px; 
    background-image: url(checkmark2.png);
    background-size: cover; 
    background-position: center; 
    transform: scale(0);
    opacity: 0;
}
*/

  [type="radio"] {
    width: 15px;
    height: 15px; 
  }
  
  #text {
    box-sizing: border-box;
    width: 100%;
    /*margin-left: 4%; */
    color: #F3F3F3;
    position: relative;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;  
    margin-bottom: 30px;
    padding-top: 10px;
    padding-bottom: 60px;
     /*line-height: 25px; */
  }
  
  button {
    width: 100%; 
    background-color: #37AF65;
    color: #F3F3F3;
    font-size: 16px;
    font-family: 'Poppins', sans-serif; 
    border: 1px solid #1B1B32CC;
    border-radius: 3px;
    padding: 10px 0px;
    margin-bottom: 40px;
  }

  @media (max-width: 1200px) {
      #form {
          width: 80%;
          background-color: red;
      }
    }